@model RegistrationForm.ViewModels.RegistrationViewModel

@{
    ViewBag.Title = "RegistrationForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("RegisterUser", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.User.FullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.FullName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.EmailAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.EmailAddress, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.MobileNo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.MobileNo, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.DOB, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.DOB, new { @Value = @Model.User.DOB, @class = "datepicker" })
          
        </div>
    </div>
    @*<input type="file" name="uploadFile" />*@

    for (int i = 0; i < Model.Skills.Count; i++)
    {
        <div class="form-group">
            @Html.LabelFor(m => @Model.Skills[i].SkillName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
               @Html.CheckBoxFor(x => @Model.Skills[i].Checked)
            </div>
        </div>

    }

    
    <div class="form-group">
        @Html.LabelFor(m => m.User.Country, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.User.CountryId, Model.Countries, "--Select--", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.State, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.User.StateId, Model.States, "--Select--", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ImageFile, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ImageFile, new { name = "uploadFile", Type = "File", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
          <input type="submit" value="Submit"/>
        </div>
    </div>

}




@section scripts{
@Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            console.log("jQ--Good-1");
            $("#User_CountryId").change(function () {
                $.get("/Register/GetStates", { ID: $("#User_CountryId").val() }, function (result) {
                    console.log(result.data);
                    console.log("jQ--Good-2");
                    $("#User_StateId").empty();
                    console.log("jQ--Good-3");

                    //for (var i = 0; i < result.length; i++) {

                    //    Console.log(result[i].StateName);
                    //}
                    
                    $.each(result.data, function (index, row) {
                        console.log(row.StateName);
                        console.log(row.Id);
                        $("#User_StateId").append("<option value='" + row.Id + "'>" + row.StateName + "</option>");
                         @Model.Skills[1].Checked = true;
                    })


                })

            });
        });


    </script>



}

